
.App-header {
  background-color: #282c34;
  box-sizing:2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.gameContainer {
  height: 40vw;
  margin-top: 2rem;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}


/* button {
  all: unset;
}

button:focus {
  outline: revert;
} */

.cell {
  width: 2rem;
  height: 2rem;

  border-width: 0.5px;
  background-color: aliceblue;
  border-color: black;
  border-style: solid;

  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
}

.wordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterHide {
  margin-left: 0.2rem;
  border: 0;
  border-bottom: 0.1rem;
  border-color: black;
  border-style: solid;

  font-size: 1.5rem;
}

.alphabetContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.alphabetLetter {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}